<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digcoin.snapx.domain.restaurant.mapper.RestaurantReviewPhotoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.digcoin.snapx.domain.restaurant.entity.RestaurantReviewPhoto">
        <id column="id" property="id" />
        <result column="restaurant_id" property="restaurantId" />
        <result column="review_id" property="reviewId" />
        <result column="member_id" property="memberId" />
        <result column="photo_url" property="photoUrl" />
        <result column="file_id" property="fileId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, restaurant_id, review_id, member_id, photo_url, file_id, create_time, update_time, create_by, update_by, deleted
    </sql>

</mapper>
